main > .container {
    padding: 70px 15px 0;
}

.main-content {

}

.question {
    border: 1px solid grey;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}

.avatar-image {
    max-width: 150px;
    max-height: 150px;
}

.question-title {
    font-size: 30px;
    font-family: Helvetica, serif;
    font-weight: bold;
}

.question-text {
    font-size: 20px;
    font-family: Helvetica, serif;
    font-weight: normal;
}

.question-points,
.answer-points {
    font-size: 20px;
    font-weight: bolder;
    color: #0a58ca;
}


.navbar-user-image,
.navbar-overflow-image {
    max-width: 50px;
    max-height: 50px;
}

.user-login {
    color: white;
    font-size: 20px;
    font-family: Helvetica, serif;
    font-weight: bold;
}

.tags {
    font-size: 20px;
    font-weight: bold;
    max-width: 250px;
}

.tag {
    margin: 5px;
}

.button-ask {
    min-width: 100px;
}

.question-extended {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;
}

.answer {
    border: 1px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}

.answer-text {
    font-size: 20px;
    font-family: Helvetica, serif;
    font-weight: normal;
}
