{% load static %}
{% load i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page not found!</title>
    <link href="{% static '/css/404.css' %}" rel="stylesheet">
</head>
<body>
<section>
    <div class="container-404">
        <div class="text-404">
            <h1>{% trans "Page Not Found" %}</h1>
            <p>{% trans "We can't seem to find the page you're looking for. Please check the URL for any typos." %}</p>
            <ul class="menu-404">
                <li><a href="{% url 'index' %}">{% trans "Go to Homepage" %}</a></li>
            </ul>
        </div>
        <div><img class="image-404" src="{% static '/img/page-404-img.png' %}" alt="broken robot image 404"></div>
    </div>
    </div>
</section>
</body>
</html>