{% extends True|yesno:'layouts/base.html,layouts/base_no_login.html' %}
{% load static %}

{% block content %}

<h1 class="my-2">New question</h1>
<form>
    <div class="ask-error my-3">
        Sorry, the title must contain at least 2 words
    </div>
    <div class="my-3">
        <label for="inputTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="inputTitle" name="title">
        <div id="titleHelp" class="form-text">Make an appropriate title for your question</div>
    </div>
    <div class="my-3">
        <label for="inputText" class="form-label">Text</label>
        <textarea type="text" class="form-control" id="inputText" name="text"> </textarea>
        <div id="TextHelp" class="form-text">Describe your question</div>
    </div>
    <div class="my-3">
        <label for="inputTags" class="form-label">Tags</label>
        <input type="text" class="form-control" id="inputTags" name="tags">
        <div id="tagsHelp" class="form-text">Put useful tags with "," separator</div>
    </div>
    <button type="submit" class="btn btn-primary button-ask">Ask!</button>
</form>

{% endblock %}