{% extends request.user.is_authenticated|yesno:'layouts/base.html,layouts/base_no_login.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-6">
        <h1>Hot questions</h1>
    </div>
    <div class="col-6 d-flex bd-highlight">
        <a href="{% url 'index' %}" class="link-primary top-link ms-auto my-auto"><h2>New questions</h2></a>
    </div>
</div>

{% for question in questions %}
{% include 'components/question_item.html' %}
{% endfor %}

{% endblock %}

{% block paginator %}
{% include 'components/paginator.html' %}
{% endblock %}