{% extends request.user.is_authenticated|yesno:'layouts/base.html,layouts/base_no_login.html' %}
{% load static %}
{% load bootstrap5 %}
{% load i18n %}


{% block content %}

{% include 'components/question_extended_item.html' %}
<hr class="mb-1">

{% for answer in answers %}

{% include 'components/answer_item.html' %}

{% endfor %}


{% endblock %}

{% block paginator %}
{% include 'components/paginator.html' %}
{% endblock %}


{% block additional %}
<hr class="mb-1">
<div class="row">
    <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary button-ask">{% trans "Answer!" %}</button>
</form>
</div>
{% endblock %}
