{% extends request.user.is_authenticated|yesno:'layouts/base.html,layouts/base_no_login.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}

<h1>Registration</h1>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary button-login my-3">Register</button>
</form>
<!--<form action="/signup_submit" method="get">-->

<!--    <div class="my-3">-->
<!--        <label for="formFile" class="form-label">Upload avatar</label>-->
<!--        <input class="form-control file-field" type="file" accept="image/*"-->
<!--               name="avatar" id="formFile">-->
<!--    </div>-->

<!--    <button type="submit" class="btn btn-primary button-login">Register</button>-->
<!--</form>-->
{% endblock %}