{% load static %}
<div class="row answer">
    <div class="col-3 my-auto">
        <img class="avatar-image" src="{% static '/img/vk_logo.png' %}" alt="image">
        <div class="row my-1">
            <div class="col-10 d-flex justify-content-center">
                <div class="answer-points d-flex justify-content-center">{{ answer.author }}</div>
            </div>
        </div>
        <div class="row mt-2 ">
            <div class="col-4">
                <div class="answer-points d-flex justify-content-center">{{ answer.like }}</div>
            </div>
            <div class="col-8">
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-sm">+</button>
                    <button type="button" class="btn btn-danger btn-sm">-</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="answer-text">
            {{ answer.content }}
        </div>

        <div class="row">
            <div class="col">
                <div class="form-check my-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheck"
                           {% if answer.correct %}
                           checked
                           {% endif %}
                    >
                    <label class="form-check-label" for="flexCheck">Correct answer</label>
                </div>
            </div>
        </div>
    </div>
</div>