{% load static %}
<div class="row question">
    <div class="col-3 my-auto">
        <img class="avatar-image" src="{% static '/img/vk_logo.png' %}" alt="image">
        <div class="row mt-2 ">
            <div class="col-4">
                <div class="question-points d-flex justify-content-center">5</div>
            </div>
            <div class="col-8">
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-sm">+</button>
                    <button type="button" class="btn btn-danger btn-sm">-</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="question-title"><a href="{% url 'question' question.id %}"> {{ question.title }} </a></div>
        <div class="question-text">
            {{ question.content }}
        </div>
        <div class="row">
            <div class="col-4">
                <a href="{% url 'question' question.id %}"> answer (3) </a>
            </div>
            <div class="col-8">
                Tags:
                {% for tag in question.tags %}
                <span class="mx-1"> <a href="{% url 'tag' tag %}"> {{ tag }} </a> </span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>