{% load static %}
<div class="row question-extended">
    <div class="col-3 ">
        <div class="d-flex justify-content-center col-10">
            {% if question.author.userprofile.avatar%}
            <img class="avatar-image" src="{{ question.author.userprofile.avatar.url }}" alt="image">
            {% endif %}
        </div>
        <div class="row my-1">
            <div class="col-10 d-flex justify-content-center">
                <div class="question-points-plus d-flex justify-content-center">
                    {{ question.author }}
                </div>
            </div>
        </div>
        <div class="row mt-2 like-section">
            <div class="col-4">
                <div class="question-points-plus d-flex justify-content-center">
                    {{ question.like }}
                </div>
            </div>
            <div class="col-8">
                <div class="btn-group">
                    <button type="button" data-id="{{ question.id }}" class="btn btn-success btn-sm button-like">+</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="question-title"><h2>{{ question.title }}</h2></div>
        <div class="question-text">
            {{ question.content }}
        </div>
        <div class="row">
            <div class="col-12">
                Tags:
                {% for tag in question.tags.all %}
                <span class="mx-1"> <a href="{% url 'tag' tag %}"> {{ tag }} </a> </span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>